* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #16213E;
}

.navbar {
    position: sticky;
    top: 0;
    z-index: 1000;

    display: flex;
    align-items: center;
    padding-left: 30px;
    width: 100%;
    height: 80px;
    background: rgba(10, 10, 26, 0.6);
    backdrop-filter: blur(10px);
    border-bottom: 1px solid rgba(76, 201, 240, 0.2);
}

.navbar .logo-name {
    font-family: 'Inter';
    font-weight: 700;
    font-size: 30px;
    background: linear-gradient(135deg, #4CC9F0 0%, #2C748A 100%);
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

a {
    text-decoration: none;
}

.navbar .nav-links {
    margin-left: auto;
    margin-right: 50px;
    display: flex;
    align-items: center;
    gap: 30px;
}

.navbar .nav-links .nav-lk {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: #B0B0C0;
}

.navbar .nav-links .nav-btn {
    width: 100px;
    height: 40px;
    border: none;
    background: linear-gradient(135deg, #3CBFF3 1.55%, #1A49B5 108.67%);
    border-radius: 8px;
    cursor: pointer;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    color: #FFFFFF;
}

.hero {
    padding: 90px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero .text-main-H {
    width: 100%;
    height: 100px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 80px;
    text-align: center;
    
    background: linear-gradient(135deg, #4CC9F0 1.78%, #F72585 98.22%);
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.hero h2 {
    margin-bottom: 80px;
}

.hero .text-main-h {
    width: 100%;
    height: 40px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    text-align: center;
    max-width: 1000px;
    margin: 0 auto;

    color: rgba(176, 176, 192, 0.6);
}

.hero .start{
    width: 283px;
    height: 47px;
    border: none;                     
    cursor: pointer;

    background: linear-gradient(90deg, #00B4D8 0%, #0077B6 100%);
    border-radius: 8px;
    margin-top: 200px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    text-align: center;
    color: #FFFFFF;
}

.editor {
    width: 100%;
    height: 865px;
    margin-top: 40px;
    background: #0a0a1a91;
}

.editor .background-editor {
    position: relative;
    width: 1440px;
    height: 700px;
    margin-left: auto;
    margin-right: auto;
    top: 50px;
    
    background: #0F0F1F;
    border: 1px solid rgba(76, 201, 240, 0.3);
    border-radius: 16px;
}

.editor .text-main-H {
    position: relative;
    width: 399px;
    height: 40px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;

    top: 35px;
    left: 45px;
    
    color: #4CC9F0;
}

.editor .editor-btn-on {
    position: relative;
    width: 164px;
    height: 43px;

    border: none;
    cursor: pointer;
    
    background: linear-gradient(135deg, #00B4D8 0%, #0077B6 100%);
    border-radius: 8px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    text-align: center;
    color: #FFFFFF;

    left: 1100px;
    top: 30px;
}

.editor .editor-btn-clear {
    position: relative;
    width: 164px;
    height: 43px;

    border: none;
    cursor: pointer;
    
    background: linear-gradient(135deg, #F72585 0.48%, #D90429 99.52%);
    border-radius: 8px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    text-align: center;
    color: #FFFFFF;

    left: 1158px;
    top: 30px;
}

.editor .background-editor .nav {
    display: flex;
    align-items: center;
    position: absolute;
    width: 1438px;
    height: 79px;
    
    background: rgba(10, 10, 26, 0.8);
    border-bottom: 1px solid rgba(76, 201, 240, 0.3);
    border-radius: 16px 15px 0 0;
}

.editor .background-editor .nav .name-block {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    color: #4CC9F0;

    margin-left: 15px;
}

.editor .background-editor .nav .name-work {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    color: #4CC9F0;

    margin-right: 640px;
    margin-left: 115px;
                       
}

.editor .background-editor .nav .name-console {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    color: #4CC9F0;

    right: 100px;
}

.editor .background-editor .blocks {
    position: absolute;
    width: 301px;
    height: 620px;
    
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-color: rgba(22, 33, 62, 0.0) rgba(22, 33, 62, 0);

    background: rgba(22, 33, 62, 0.1);
    border-right: 1px solid rgba(76, 201, 240, 0.3);
    border-radius: 16px 0 0 16px;
    margin-top: 79px;
}

.editor .background-editor .blocks .state-1 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    color: #B0B0C0;

    margin-top: 20px;
    margin-left: 20px;
}

.editor .background-editor .blocks .variables {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 267px;
    height: 67px;

    background: linear-gradient(135deg, #4CC9F0, #3A86FF);
    backdrop-filter: blur(7px);
    border-radius: 8px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    color: #FFFFFF;

    margin-left: 20px;
    margin-top: 15px;
}

.editor .background-editor .blocks .arithmetic {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 267px;
    height: 67px;

    background: linear-gradient(135deg, #9C89B8, #7B6C9C);
    backdrop-filter: blur(7px);
    border-radius: 8px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    color: #FFFFFF;

    margin-left: 20px;
    margin-top: 15px;
}

.editor .background-editor .blocks .conditions {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 267px;
    height: 67px;

    background: linear-gradient(135deg, #F72585, #B5179E);
    backdrop-filter: blur(7px);
    border-radius: 8px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    color: #FFFFFF;

    margin-left: 20px;
    margin-top: 15px;
}

.editor .background-editor .blocks .array {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 267px;
    height: 67px;

    background: linear-gradient(135deg, #F9C74F, #F9844A);
    backdrop-filter: blur(7px);
    border-radius: 8px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    color: #000000;

    margin-left: 20px;
    margin-top: 15px;
}

.editor .background-editor .blocks .cycle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 267px;
    height: 67px;

    background: linear-gradient(135deg, #4361EE, #3A0CA3);
    backdrop-filter: blur(7px);
    border-radius: 8px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    color: #ffffff;

    margin-left: 20px;
    margin-top: 15px;
}

.editor .background-editor .blocks .print {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 267px;
    height: 67px;

    background: linear-gradient(135deg, #43AA8B, #2D6A4F);
    backdrop-filter: blur(7px);
    border-radius: 8px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    color: #ffffff;

    margin-left: 20px;
    margin-top: 15px;
}

.editor .background-editor .blocks .step {
    margin-top: 15px;
}

.editor .background-editor .work-pos {
    position: absolute; 
    display: flex;
    width: 800px;
    height: 619px;
    top: 79px;
    left: 301px;
    background: #0A0A1A;
}

.editor .background-editor .work-pos .title-L {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
    width: 624px;
    height: 64px;
    right: 90px;
    top: 30px;
    
    background: rgba(22, 33, 62, 0.8);
    border: 1px solid rgba(76, 201, 240, 0.3);
    backdrop-filter: blur(7.5px);
    border-radius: 12px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    
    color: #FFFFFF;
}

.editor .background-editor .background-console {
    position: absolute;
    width: 337px;
    height: 620px;
    right: 0px;
    top: 79px; 
    
    background: rgba(22, 33, 62, 0.1);
    border-left: 1px solid rgba(76, 201, 240, 0.3);
    border-radius: 0 16px 16px 0;
}

.editor .background-editor .background-console .interpreter-console {
    position: absolute;
    width: 278px;
    height: 388px;

    right: 30px;
    top: 30px;

    background: #0A0A1A;
    border: 1px solid rgba(0, 255, 157, 0.15);
    border-radius: 12px;
}

.editor .background-editor .background-console .for-variables {
    position: absolute;
    width: 278px;
    height: 156px;

    top: 448px;
    right: 30px;

    background: #0A0A1A;
    border: 1px solid rgba(0, 255, 157, 0.15);
    border-radius: 12px;
}

.footer {
    width: 100%;
    height: 200px;
    margin-top: 70px;
    background: #0A0A1A;
    border: 1px solid rgba(76, 201, 240, 0.2);
}

.footer .text-footer-H {
    width: 100px;
    height: 40px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;

    padding-left: 65px;
    padding-top: 40px;

    color: #4CC9F0;
}

.footer .text-footer-A {
    width: 500px;
    height: 45px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    padding-left: 65px;
    padding-top: 50px;
    text-align: left;

    color: #B0B0C0;
}

.footer .text-footer-B {
    width: 500px;
    height: 45px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    padding-left: 65px;
    padding-top: 60px;
    
    color: #666666;
}